@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
* {
  box-sizing: border-box;
  transition: all 0.35s ease-in-out;
  text-align: center;
  cursor: default;
}

body {
  display: flex;
  flex-direction: column;
  background-color: gainsboro;
  font-family: "Rubik", sans-serif;
  height: 95vh;
}

.board {
    margin: auto;
    display: flex;
    font-size: xx-large;
    flex-direction: column;
}

.board-row {
    width: 150px;
    height: 150px;
    margin: 5px;
    display: flex;
    justify-content: space-evenly;
}

.board-case {
    cursor: pointer;
    display: flex;
    flex: 0 0 100%;
    height: 150px;
    margin: 5px;
    border-top: 2px solid white;
    background-color: white;
    box-shadow: 20px 20px 91px 0px rgba(0,0,0,0.15);
}

.case-played{
    cursor: default;
}

.board-case:hover {
    background-color: rgb(230, 230, 230);
}

.case-played:hover{
    background: white;
}

span {
    margin: auto;
}

.scoreboard {
    justify-content: space-around;
    position: relative;
    font-size: x-large;
    margin: auto;
    display: flex;
    width: 470px;
    height: 93px;
}

.player-name {
    box-shadow: 20px 20px 91px 0px rgba(0,0,0,0.15);
    border-top: 2px solid white;
    display: flex;
    background-color: white;
}

.player-name:hover {
    box-shadow: 20px 20px 91px 0px rgba(0,0,0,0.3);
    background-color: rgb(230, 230, 230);
}

#player-1 {
    border-radius: 25px 0 0 25px;
    flex: 0 0 37%;
}

#player-2 {
    border-radius: 0 25px 25px 0;
    flex: 0 0 43%;
}

.score {
    box-shadow: 20px 20px 91px 0px rgba(0,0,0,0.15);
    border-top: 2px solid white;
    display: flex;
    flex: 0 0 10%;
    background-color: white;
}

div[id="case-0"] {
    border-radius: 40px 0 0 0;
}

div[id="case-2"] {
    border-radius: 0 40px 0  0;
}

div[id="case-6"] {
    border-radius: 0 0 0 40px;
}

div[id="case-8"] {
    border-radius: 0 0  40px 0;
}

.controls {
    display: flex;
    width: 470px;
    height: 58px;
margin: auto;
border-radius: 16px;
    border-top: 2px solid white;
    background-color: white;
    box-shadow: 20px 20px 91px 0px rgba(0,0,0,0.15);
}

.controls:hover {
    background-color: rgb(230, 230, 230);
    box-shadow: 20px 20px 91px 0px rgba(0,0,0,0.3);
}

.name-input{
    margin: auto;
    width: 470px;
    height: 136px;
    display: flex;
    font-size: xx-large;
    flex-direction: column;
    background-color: white;
    border-radius: 16px;
    border-top: 2px solid white;
}

.hidden {
    display: none;
}